@model IEnumerable<AtelierPratique_16.Models.Vehicule>

@{
    ViewBag.Title = "Index";
}

<h2>Véhicule</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Marque)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type_Vehicule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dt_Mise_Service)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Marque)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type_Vehicule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dt_Mise_Service)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Immatricule }) |
            @Html.ActionLink("Details", "Details", new { id=item.Immatricule }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Immatricule })
        </td>
    </tr>
}

</table>
