@model AtelierPratique_16.Models.billet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>billet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date_Delivrance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Delivrance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.voyage.Ville_Depart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.voyage.Ville_Depart)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.N_Billet }) |
    @Html.ActionLink("Back to List", "Index")
</p>
