@model IEnumerable<AtelierPratique_16.Models.chauffeur>

@{
    ViewBag.Title = "Index";
}

<h2>Chauffeurs</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Recrutement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salaire)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prenom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adresse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Recrutement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salaire)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_chauffeur }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_chauffeur }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_chauffeur })
        </td>
    </tr>
}

</table>
